

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



{% block content %}
  
 {% csrf_token %}
  
   <p>
   Login or register to add a new game.

   </p>



   {% if form.errors %}
    <p class="error">Sorry mate, this username doesn't exist</p>
  {% endif %}


     {% if form_error %}
    <p class="error">Sorry mate, this username doesn't exist.</p>
  {% endif %}

  <form action="/add_login/" method="post">{% csrf_token %}
    <label for="username"></label>
    <input type="text" name="username" value="" id="username" placeholder="Username"> 
  
  <button type="submit" class="btn btn-primary" >
  Login
    </button>    
  </form>

   <p>
OR
  </p>

   <!--<h2>OR</h2>-->


  {% if form.errors %}
    <p class="error">Sorry mate, this username already exists</p>
  {% endif %}



 <form action="/add_register/"method="post"> {% csrf_token %}
    <label for="username"></label>
    <input type="text" name="username" value="" id="username" placeholder="Username">
  
  <button type="submit" class="btn btn-primary" >
       Register
    </button>    
        (no sign up required)

  </form>  

<!--  <form action="/accounts/add_register/" method="post">{% csrf_token %} 

  
 {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.name = "username" %}
      <div class="field-wrapper">
        <div class="label-wrapper">
          {{ field.label_tag }}
          {% if field.field.required %}<span class="required">*</span>{% endif %}
        </div>
        <div class="value-wrapper">
          {{ field }}
          {{ field.errors }}
        </div>
      </div>
    {% endif %}
  {% endfor %}   
  </div>
  <p>
 {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Create
    </button>
  {% endbuttons %}    
  </p>
  </form>  -->

  
  

 
  

 
 
  
{% endblock %}