 

{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %} 
{% bootstrap_javascript %}


{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that username already exists.</p>
  {% endif %}

  <form action="/register/" method="post">{% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username">
    <!--<label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"> -->

 
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Register
    </button>
     
  </form>

{% endblock %}